<?xml version="1.0"?>
<ExportProfile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Version>2.4.0.4</Version>
  <ExportDate>21/09/2016 22:44:04</ExportDate>
  <Data>
    <SettingsCollection>
      <Settings xsi:type="AzureSettings">
        <EnableChunks>true</EnableChunks>
        <Name>Uniek Loket - QA</Name>
        <ID>a720ea97-750c-4ac5-a122-cf0e134496c0</ID>
        <ContainerSettingsCollection />
        <IsDevStoreAccount>false</IsDevStoreAccount>
        <IsGovernmentAccount>false</IsGovernmentAccount>
        <IsChinaAccount>false</IsChinaAccount>
        <Account>endsuniekloketqa</Account>
        <SharedKey>2jwwhloeTmxpha91rOwRARRPRWx/bn7oyv+iaC+MSHsu6xTaPljhwCrAPD4MhoABqizVE9aTwamiwM7DFOkcAXDeUq2Dlh1LH7IKXJpC3CA+RVJ9U5XGfRW0pIvAXSYP</SharedKey>
        <UseSSL>true</UseSSL>
        <RequestStyle>Path</RequestStyle>
      </Settings>
      <Settings xsi:type="AzureSettings">
        <EnableChunks>true</EnableChunks>
        <Name>Build 2016 recap</Name>
        <ID>632c5e57-c944-4adb-ae4e-82f34cc44190</ID>
        <ContainerSettingsCollection />
        <IsDevStoreAccount>false</IsDevStoreAccount>
        <IsGovernmentAccount>false</IsGovernmentAccount>
        <IsChinaAccount>false</IsChinaAccount>
        <Account>build2016recapazure</Account>
        <SharedKey>Bva2rQdwNkZUz59vpvDZZO/vXmNOOXFkIGF61qe8PJ6jOKD8mveH0UMVVakwwlWReuTFl5CP4LdgLlEIelsOm95e6eYkspCvpNyTLcbHxiuuh4hqJCPHKm120KDtEpAp</SharedKey>
        <UseSSL>true</UseSSL>
        <RequestStyle>Path</RequestStyle>
      </Settings>
      <Settings xsi:type="AzureSettings">
        <EnableChunks>true</EnableChunks>
        <Name>Carré Couture</Name>
        <ID>85a862c7-27db-48ea-9e85-f2b0619e8f5a</ID>
        <ContainerSettingsCollection />
        <IsDevStoreAccount>false</IsDevStoreAccount>
        <IsGovernmentAccount>false</IsGovernmentAccount>
        <IsChinaAccount>false</IsChinaAccount>
        <Account>carrecouture</Account>
        <SharedKey>cboUlG88PyZxAuvi/Q6JJrnPHhfQVGtRVRiubfkZUgo6/ZA5kgwR/B55Rytq5OCrsQKU3KunmbZOps1z/X74pfazHSLV8vPiL5afbP3xG9/k3WBsV9yN7fr35GNWlJ3Y</SharedKey>
        <UseSSL>true</UseSSL>
        <RequestStyle>Path</RequestStyle>
      </Settings>
    </SettingsCollection>
    <Proxy>
      <UseProxy>true</UseProxy>
      <UseDefault>true</UseDefault>
      <Address />
      <Port>80</Port>
      <UseAuthentication>false</UseAuthentication>
      <User />
      <Password>bZvwaXtwQzG2BAWX0jc4nw==</Password>
      <Domain />
    </Proxy>
    <GeneralOptions>
      <DeleteToRecycleBin>false</DeleteToRecycleBin>
      <UseCustomTransferBufferSize>false</UseCustomTransferBufferSize>
      <CustomTransferBufferSize>65536</CustomTransferBufferSize>
      <RetryAttempts>3</RetryAttempts>
      <TimeBetweenRetryAttempts>400</TimeBetweenRetryAttempts>
      <UseMD5>false</UseMD5>
      <DontShowHiddenFilesAndFolder>true</DontShowHiddenFilesAndFolder>
      <TempDirectory>C:\Users\Lorenzo\AppData\Local\Temp</TempDirectory>
      <ShowDeletedVersions>false</ShowDeletedVersions>
      <MarkDeletedFoldersWithGray>true</MarkDeletedFoldersWithGray>
      <PreReadBufferSize>524288</PreReadBufferSize>
      <UploadBandwidthLimitEnabled>false</UploadBandwidthLimitEnabled>
      <UploadBandwidthLimit>97656</UploadBandwidthLimit>
      <DownloadBandwidthLimitEnabled>false</DownloadBandwidthLimitEnabled>
      <DownloadBandwidthLimit>97656</DownloadBandwidthLimit>
      <NetworkBandwidthLimitEnabled>false</NetworkBandwidthLimitEnabled>
      <NetworkBandwidthLimit>97656</NetworkBandwidthLimit>
      <ShowInTray>Never</ShowInTray>
      <QueueVisualMode>Tabs</QueueVisualMode>
      <UseMasterPassword>false</UseMasterPassword>
      <HashCode />
      <AskBeforeClosingTab>false</AskBeforeClosingTab>
      <DontAksBeforeCopyMove>false</DontAksBeforeCopyMove>
      <ShowNewVersionDialog>true</ShowNewVersionDialog>
      <LastAcceptedVersion />
      <ImportExportManifestLocation />
      <GoogleResumableUpload>false</GoogleResumableUpload>
      <MemoryManagerMaxMemoryUsage>314572800</MemoryManagerMaxMemoryUsage>
      <MemoryManagerMaxDiskUsage>0</MemoryManagerMaxDiskUsage>
      <DefaultPathForExport>C:\src\Personal\lordldx-environment\2. Config</DefaultPathForExport>
      <DefaultPathForImport>C:\Users\Lorenzo\Documents</DefaultPathForImport>
      <Language>en-US</Language>
      <CheckForNewVersion>true</CheckForNewVersion>
    </GeneralOptions>
    <CopyMoveOptions>
      <UseShareReadWriteModeOnError>true</UseShareReadWriteModeOnError>
      <OverwriteAction>AskEveryTime</OverwriteAction>
      <ForceSharing>true</ForceSharing>
      <CopyMoveViaLocalPcOnAccessDenied>false</CopyMoveViaLocalPcOnAccessDenied>
      <PermissionsInheritance>DoNotInherit</PermissionsInheritance>
      <KeepExistingPemissionsOnCloudCopy>false</KeepExistingPemissionsOnCloudCopy>
      <DoNotChangePermissionsForExisting>false</DoNotChangePermissionsForExisting>
      <CommandCompletedCountThreshold>20</CommandCompletedCountThreshold>
      <CommandCompletedMBytesThreshold>5</CommandCompletedMBytesThreshold>
      <AllowCountThreshold>true</AllowCountThreshold>
      <AllowBytesThreshold>true</AllowBytesThreshold>
      <UploadLimitGb>5</UploadLimitGb>
      <KeepExistingHeaders>false</KeepExistingHeaders>
      <UseAdvancedRetry>false</UseAdvancedRetry>
    </CopyMoveOptions>
    <AzureOptions>
      <ChunkSize>4194304</ChunkSize>
      <EnablePageBlobCompressionEncryption>false</EnablePageBlobCompressionEncryption>
      <AllowUnalignedFiles>false</AllowUnalignedFiles>
      <UseParallelUpload>false</UseParallelUpload>
      <APIVersion>2015-02-21</APIVersion>
    </AzureOptions>
    <OneDriveOptions>
      <ChunkSize>10485760</ChunkSize>
      <UseChunks>true</UseChunks>
    </OneDriveOptions>
    <ConsoleOptions>
      <WindowState>Maximized</WindowState>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>800</Width>
        <Height>600</Height>
      </Size>
    </ConsoleOptions>
    <AdvancedOptions>
      <UseChunks>false</UseChunks>
      <ChunkTransparency>false</ChunkTransparency>
      <FixETagAfterMultipartUpload>false</FixETagAfterMultipartUpload>
      <ParallelDownloadMinFileSizeMB>10</ParallelDownloadMinFileSizeMB>
      <ChunkSizeKB>10240</ChunkSizeKB>
      <EncryptionAlgorithm>None</EncryptionAlgorithm>
      <EncryptionKeySize>128</EncryptionKeySize>
      <EncryptionPassword>bZvwaXtwQzG2BAWX0jc4nw==</EncryptionPassword>
      <UseCompression>false</UseCompression>
      <UseEncryption>false</UseEncryption>
      <ThreadCount>1</ThreadCount>
      <UseParallelUpload>false</UseParallelUpload>
      <UseServerTimeInRequests>false</UseServerTimeInRequests>
      <CommandQueueSizeLimit>200</CommandQueueSizeLimit>
      <RequestThrottlerTimeFrameWidth>1000</RequestThrottlerTimeFrameWidth>
      <RequestThrottlerNumRequests>10</RequestThrottlerNumRequests>
      <UseFederatedUserCredentialsForSG>true</UseFederatedUserCredentialsForSG>
    </AdvancedOptions>
    <LoggingOptions>
      <LoggingLevel>Warning</LoggingLevel>
      <LogPath>C:\Users\Lorenzo\AppData\Local\CloudBerry Explorer for Azure Blob Storage\Logs\cloudberry.log</LogPath>
      <EvenListSize>500</EvenListSize>
    </LoggingOptions>
    <AddressBook />
    <Version>2.4.0.4</Version>
  </Data>
  <Sync>
    <SettingsCollection />
  </Sync>
  <Favorites>
    <FavoritesCollection />
  </Favorites>
</ExportProfile>